:root {
    --border: rgb(197, 195, 195);
    --paragraph: rgb(96, 96, 96);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
}

.site-header h1 {
    font-family: 'Courier New', Courier, monospace;
}

.site-header p {
    color: var(--paragraph);
}

.search-and-filters {
    display: flex;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}